body{
background-color: aquamarine;
color:black
}
section{
    background-color: black;
padding-top: 80px;
padding-bottom: 70px;
display: flex;
justify-content: center;
}
.primeirachamada{
margin-right:5%;
}
.maisvideos{
    display: flex;
overflow-x: auto;
gap: 10px;
}

header{
margin:45px ;
background-color:blue;





}